name = "MRIReco"
uuid = "bdf86e05-2d2b-5731-a332-f3fe1f9e047f"
authors = ["Tobias Knopp <tobias@knoppweb.de>"]
version = "0.5.5"

[deps]
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
Graphics = "a2bd30eb-e257-5431-a919-1863eab51364"
ImageUtils = "8ad4436d-4835-5a14-8bce-3ae014d2950b"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
LinearOperators = "5c8ed15e-5a4c-59e4-a42b-c7e8811fb125"
LowRankApprox = "898213cb-b102-5a47-900c-97e73b919f73"
MRIBase = "f7771a9a-6e57-4e71-863b-6e4b6a2f17df"
MRIFiles = "5a6f062f-bf45-497d-b654-ad17aae2a530"
NFFT = "efe261a4-0d2b-5849-be55-fc731d526b0d"
NFFTTools = "7424e34d-94f7-41d6-98a0-85abaf1b6c91"
NIfTI = "a3a9e032-41b5-5fc4-967a-a6b7a19844d3"
FLoops = "cc61a311-1640-44b5-9fba-1b764f453329"
ProgressMeter = "92933f4c-e287-5a05-a399-4b506db050ca"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
RegularizedLeastSquares = "1e9c538a-f78c-5de5-8ffb-0b6dbe892d23"
SparsityOperators = "a5ff1dd3-4e0a-50db-9022-6d011c1d5846"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
ThreadPools = "b189fb0b-2eb5-4ed4-bc0c-d34c51242431"
Unitful = "1986cc42-f94f-5a68-af5c-568840ba703d"
Wavelets = "29a6e085-ba6d-5f35-a997-948ac2efa89a"
SnoopPrecompile = "66db9d55-30c0-4569-8b51-7e840670fc0c"

[compat]

LinearOperators = "2.3.3"
Distributions = "0.21, 0.23, 0.25"
FFTW = "0.2, 1.0"
Graphics = "0.4, 1.0"
ImageUtils = "0.2.5"
LowRankApprox = "0.4.2,0.5"
MRIBase = "0.1.3"
MRIFiles = "0.1.3"
NFFT = "0.13"
NFFTTools = "0.2.4"
NIfTI = "0.4, 0.5"
FLoops = "0.2"
ProgressMeter = "1.2"
Reexport = "0.2, 1"
RegularizedLeastSquares = "0.8.7"
SparsityOperators = "0.4.4"
StatsBase = "0.32, 0.33"
ThreadPools = "1.1.3, 2.0"
Unitful = "0.17, 1.2"
Wavelets = "0.8, 0.9"
SnoopPrecompile = "1"
julia = "1.6"

[extras]
HTTP = "cd3eb016-35fb-5094-929b-558a96fad6f3"
LazyArtifacts = "4af54fe1-eca0-43a8-85a7-787d91b784e3"
Scratch = "6c6a2e73-6563-6170-7368-637461726353"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "HTTP", "LazyArtifacts", "Scratch"]
