name: MRICoilSensitivities
on:
  pull_request:
    branches:
      - master
    paths:
      - 'MRICoilSensitivities/**'

  push:
    branches:
      - master
      - '*'
    tags: '*'
    paths:
      - 'MRICoilSensitivities/**'
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1' # Leave this line unchanged. '1' will automatically expand to the latest stable 1.x release of Julia.
          - '1.10' #LTS
          #- 'nightly'
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: actions/cache@v3
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - name: Install MRICoilSensitivities
        shell: julia --color=yes --project=. {0}
        run: |
          using Pkg
          Pkg.develop([PackageSpec(path=pwd(), subdir="MRICoilSensitivities")])
      - uses: julia-actions/julia-buildpkg@v1
      - name: Run MRICoilSensitivities tests
        shell: julia --color=yes --project=. {0}
        run: |
          using Pkg
          Pkg.test("MRICoilSensitivities", coverage = true)
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: MRICoilSensitivities/src
      - uses: codecov/codecov-action@v5
        with:
          file: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: MRICoilSensitivities