name = "MRIOperators"
uuid = "fb1137e3-90a6-46ce-a672-6e1e53d120f2"
author = ["Tobias Knopp <tobias@knoppweb.de>"]
version = "0.4.3"

[deps]
Adapt = "79e6a3ab-5dfb-504d-930d-738a2a938a0e"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
LinearOperatorCollection = "a4a2c56f-fead-462a-a3ab-85921a5f2575"
LinearOperators = "5c8ed15e-5a4c-59e4-a42b-c7e8811fb125"
OhMyThreads = "67456a42-1dca-4109-a031-0a68de7e3ad5"
MRIBase = "f7771a9a-6e57-4e71-863b-6e4b6a2f17df"
NFFT = "efe261a4-0d2b-5849-be55-fc731d526b0d"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
TSVD = "9449cd9e-2762-5aa3-a617-5413e99d722e"
Wavelets = "29a6e085-ba6d-5f35-a997-948ac2efa89a"

[weakdeps]
GPUArrays = "0c68f7d7-f131-5f86-a1c3-88cf8149b2d7"
KernelAbstractions = "63c18a36-062a-441e-b654-da1e3ab1ce7c"

[compat]
Adapt = "3, 4"
StatsBase = "0.33, 0.34"
GPUArrays = "11"
JLArrays = "0.2"
TSVD = "0.4"
KernelAbstractions = "0.9"
MRIBase = "0.4"
Reexport = "1"
LinearOperators = "2.13"
LinearOperatorCollection = "2.4"
OhMyThreads = "0.8"
NFFT = "0.14"
NonuniformFFTs = "0.9"
Wavelets = "0.9, 0.10"
julia = "1.6"

[extras]
NonuniformFFTs = "cd96f58b-6017-4a02-bb9e-f4d81626177f"
JLArrays = "27aeb0d3-9eb9-45fb-866b-73c2ecf80fcb"
MRISimulation = "8988da37-ea20-4fa6-9af7-8a6f6f9a8970"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "MRISimulation", "NonuniformFFTs"]

[extensions]
MRIOperatorsGPUArraysExt = ["GPUArrays", "KernelAbstractions"]
